{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "no-nested-ternary": 0,
    "global-require": 0,
    "no-use-before-define": 0,
    "no-shadow": 0,
    "import/no-extraneous-dependencies": 0,
    "semi": [1, "never"],
    "max-len": [1, 80],
    "arrow-parens": [2, "as-needed"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
